<%- include('./partials/header') %>
    <h3>Redirect via ShortURL</h3>
    <form class="form-inline" action="/redirect" method="POST">
        <div class="form-group mb-2">
            <label for="short_url">Enter your ShortURL:</label>
            <input class="form-control" type="text" name="short_url" style="width: 300px; margin: 1em">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
<%- include('./partials/footer') %>

